body {
	background: url(https://img-fotki.yandex.ru/get/67890/136164467.17/0_12bc81_21263ac1_orig.png);
}

#text {
	position: absolute;
	top: 50%;
	margin-top: -3em;
	
}	

#redcolor {
	color: red;
}

#bluecolor {
	color: blue;
}